.App {
  max-width: 800px;
  margin: 40px auto;
}

.App footer {
  margin: 10px;
  text-align: center;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
}

.App footer a {
  color: #4682a9;
  text-decoration: none;
}

.App footer a:hover {
  text-decoration: underline;
}
